# Use root/example as user/password credentials

services:

  adminer:
    container_name: adminer
    image: adminer
    restart: always
    ports:
      - 8082:8080

  db:
    image: mysql:8.4.1
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: example
